{
  "recipient": "{{ uploader_recipient }}",
  "onion": "{{ uploader_onion if uploader_onion else 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.onion' }}",
  "maxGiB": {{ uploader_max_gib }},
  "chunkMiB": {{ uploader_chunk_mib }}
}
