.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 60px;
    top: 0px;
    z-index: 20;
    background: var(--nav-background);
    backdrop-filter: blur(1px);
    border-bottom: 1px var(--nav-border) solid;
}

.header .header-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 15px;
    gap: 8px;
}

.header .header-logo img {
    height: 32px;
}

.hamburger-trigger {
    display: none;
}

.main-menu ul {
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.main-menu a:hover {
    text-decoration: none;
}

.main-menu .menu-item ul {
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: all .35s;
}

.main-menu .menu-item a, .main-menu .menu-item label {
    padding: 10px 0px;
    display: block;
}
.menu-item label {
    color: var(--heading);
}

.menu-item label::after {
    display: inline-block;
    margin-left: 6px;
    border: 2px solid var(--link);
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    height: 6px;
    width: 6px;
    pointer-events: none;
    transform: rotate(-45deg);
    transform-origin: center;
}

.menu-item label:hover::after,
.menu-item:focus-within > label::after {
    transform: rotate(135deg);
}

.menu-item label.reset {
    display: none;
}

@media print, screen and (min-width: 961px) {
    /* menu for desktop */
    .main-menu .menu-item ul {
        position: absolute;
        background: var(--background);
        border: 1px var(--background-accent-border) solid;
    }

    .main-menu .menu-item li {
        display: flex;
    }

    .main-menu .menu-item a, .main-menu .menu-item label {
        padding: 10px 10px;
    }

    .dropdown-menu {
        box-shadow: 0 0 14px rgba(0,0,0,.25);
    }

    .dropdown-menu .dropdown-item {
        padding: 4px 4px;
    }

    .dropdown-menu .dropdown-item a, .dropdown-menu .dropdown-item label {
        width: 100%;
    }

    .menu-item label:hover ~ .dropdown-menu,
    .menu-item:focus-within > .dropdown-menu {
        visibility: visible;
        display: block;
        opacity: 1;
    }
    ul.dropdown-menu:hover {
        visibility: visible;
        display: block;
        opacity: 1;
    }

    .menu-item label svg {
        height: 16px;
        top: 3px;
        position: relative;
    }
}

@media print, screen and (max-width: 960px) {
    /* menu for mobile */
    .header {
        padding: 0 5%;
        margin: 0;
        width: 90%;
        backdrop-filter: none;
    }
    .main-menu {
        display: none;
        position: fixed;
        background: var(--highlight);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: opacity .35s;
        justify-content: center;
        flex-direction: column;
        animation-delay: .1s;
    }
    .main-menu ul {
        display: block;
        font-size: 17pt;
        text-align: center;
    }
    .main-menu ul li {
        display: block;
        /* opacity animates menu */
        opacity: 0;
    }
    .main-menu .menu-item ul {
        opacity: 1;
        visibility: visible;
    }
    .menu-item label::after {
        position: relative;
        top: -4px;
    }
    .hamburger-trigger {
        height: 30px;
        display: flex;
        align-items: center;
    }
    .hamburger {
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 20px;
        background: 0 0;
        border-top: 2px solid;
        border-bottom: 2px solid;
        font-size: 0;
        z-index: 100;
        transition: all .25s ease-in-out;
        color: var(--text);
    }
    .hamburger:before,
    .hamburger:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: currentColor;
        transform: translate(-50%,-50%);
        transition: transform .25s ease-in-out
    }
    /* Animation when showing the content after closing menu*/
    .wrapper {
        animation: fadeInTop .5s ease forwards;
    }
    /* Hide the content when menu is open */
    #menu-toggle:checked ~ .wrapper {
        display: none;
    }
    #menu-toggle:checked ~ footer {
        display: none;
    }
    #menu-toggle:checked ~ .header .main-menu {
        opacity: 1;
        height: 100%;
        z-index: 10;
        display: flex;
    }
    #menu-toggle:checked ~ .header .main-menu li {
        animation: fadeInTop .5s ease forwards;
        animation-delay: .1s;
    }
    #menu-toggle:checked ~ .header .hamburger {
        border-color: transparent;
        z-index: 100;
        color: var(--base);
    }
    #menu-toggle:checked ~ .header .hamburger:before {
        transform: translate(-50%,-50%)rotate(45deg);
    }
    #menu-toggle:checked ~ .header .hamburger:after {
        transform: translate(-50%,-50%)rotate(-45deg);
    }
    @keyframes fadeInTop {
        0% {
            opacity: 0;
            top: 20%;
        }
        100% {
            opacity: 1;
            top: 0;
        }
    }

    #organization-toggle:checked ~ .header ul.organization {
        display: block;
    }
    #organization-toggle:checked ~ .header label.organization {
        display: none;
    }
    #organization-toggle:checked ~ .header label.organization.reset {
        display: block;
    }

    #anonimity-toggle:checked ~ .header ul.anonimity {
        display: block;
    }
    #anonimity-toggle:checked ~ .header label.anonimity {
        display: none;
    }
    #anonimity-toggle:checked ~ .header label.anonimity.reset {
        display: block;
    }

    #surveillance-toggle:checked ~ .header ul.surveillance {
        display: block;
    }
    #surveillance-toggle:checked ~ .header label.surveillance {
        display: none;
    }
    #surveillance-toggle:checked ~ .header label.surveillance.reset {
        display: block;
    }

    #activism-toggle:checked ~ .header ul.activism {
        display: block;
    }
    #activism-toggle:checked ~ .header label.activism {
        display: none;
    }
    #activism-toggle:checked ~ .header label.activism.reset {
        display: block;
    }

    #lang-toggle:checked ~ .header ul.lang {
        display: block;
    }
    #lang-toggle:checked ~ .header label.lang {
        display: none;
    }
    #lang-toggle:checked ~ .header label.lang.reset {
        display: block;
    }

    .menu-item label svg {
        height: 17pt;
        position: relative;
        top: 5px;
    }
}
/**/